*.bin
Debug
Release
Library
ostc4pack/src/OSTC4pack_V4
ostc4pack/src/checksum_final_add_fletcher
ostc4pack/src/*.o
RefPrj/*/OSTC_Discovery.xml
RefPrj/RTE/OSTC4_RTE2.xml
tools/*
!tools/README.md

*.swp
__pycache__/
.vscode
local.mk
